.container {
    background-color: gray;
    display: grid;
    grid-template-columns: 300px 1fr ;
    /* 1行目から順番に60px 1fr 90pxの高さ */
    grid-template-rows: 60px 1fr;
  }
  .header {
    padding: 10px;
    background-color: rgb(250, 250, 203);
    /* 列の1本目から4本目のグリッドラインまで */
    grid-column-start: 1;
    grid-column-end: 3;
    /* 行の1本目から2本目のグリッドラインまで */
    grid-row-start: 1;
    grid-row-end: auto;
  }
  
  .left {
    padding: 10px;
    background-color:rgb(202, 250, 234);
    /* 列の2本目から3本目のグリッドラインまで */
    grid-column-start: 1;
    grid-column-end: auto;
    /* 行の2本目から3本目のグリッドラインまで */
    grid-row-start: 2;
    grid-row-end: auto;
  }
  
  .right {
    padding: 10px;
    background-color: rgb(248, 223, 227);
    /* 列の1本目から2本目のグリッドラインまで */
    grid-column-start: 2;
    grid-column-end: auto;
    /* 行の2本目から3本目のグリッドラインまで */
    grid-row-start: 2;
    grid-row-end: auto;
  }
.button {
width:200px;
height: 40px;
}
.inline {
  display: inline-block;
  background-color: lightblue;
  padding-inline-start: 5px;
  padding-block-start: 5px;
  width: 200px;
}